#overview {
    margin-bottom: 24px;
}

.popup-menu.panel-menu {
    margin-bottom: 0;
}

.task-button {
    margin: 0px;
    transition-duration: 150ms;
}

.task-button.task-demands-attention {
    box-shadow: 0 0 0 st-transparentize(-st-accent-color, 50%);
}
